* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(13, 13, 184);
  font-size: 5.5rem;
  position: relative;
  margin-top: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 0;
  text-shadow: 0.2rem 0.2rem rgb(49, 49, 255);
  top: -5.8rem;
  padding-bottom: 10px;
  position: relative;
}

h2 {
  color: #59b9e2;
  font-size: 3rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  padding-top: 1rem;
}

h5 {
  font-size: 1.2rem;
  color: darkblue;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navLink a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#navigation {
  display: flex;
  background-color: #ffd700;
  align-items: center;
  gap: 2rem;
  justify-content: space-around;
}

#navigation ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 6rem;
  background-color: #ffd700;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(229, 243, 255);
  margin: 0;
  padding: 0;
}

#banner {
  margin: 0;
  padding-top: 12rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("./assets/montevideo.jpg");
  align-items: center;
  text-align: center;
  background-position: top;
}

#navImg {
  margin: 0;
}

.homePage {
  margin-top: 6rem;
  text-align: center;
  font-size: larger;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  padding-top: 2rem;
}

#homeParagraph {
  font-size: 1.4rem;
  text-align: justify;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#homepic {
  width: 100%;
  height: auto;
}

.topAttractions {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  text-align: center;

  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
}

#topAttractionspic {
  width: 100%;
  height: auto;
}

#attractions-items {
  border: groove;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;
  border-color: #ffd700;
}

#attractionDes {
  font-size: 1.2rem;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px; 
  padding-bottom: 15px;
}

.FoodGuide {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#food-titles {
  color: darkblue;
}

#GuideItems {
  border: groove;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
  border-radius: 2rem;
  border-color: #ffd700;
  padding-bottom: 2rem;
}

#websites {
  border: groove;
  color: rgb(13, 13, 184);
  border-radius: 2rem;
  font-weight: bold;
  background-color: #59b9e2;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  font-size: 1.1rem;
  border-color: rgb(13, 13, 184);
}

#ResDescriptions {
  text-align: justify;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

a:active {
  border-color: rgb(13, 13, 184);
}
.PhotoPage {
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
}

.PhotoPageContainer {
  margin-top: 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 1.8rem;
  justify-content: center;
  border: groove;
  margin-left: 10rem;
  margin-right: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  align-items: center;
}

.PhotoPageItems {
  display: flex;
  flex-wrap: wrap;
  direction: column;
  justify-content: center;
  margin-left: 1rem;
  padding-bottom: 6rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  border: groove;
  border-width: 0.5rem;
  padding-top: 2rem;
  border-color: #59b9e2;
  text-align: center;
  margin-bottom: 1rem;
}

#PhotoDescription {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 1rem;
  text-wrap: inherit;
}

#PhotoTitle {
  justify-content: center;
  position: absolute;
  margin-top: 29rem;
  font-size: 2rem;
}

#PhotoTitle2 {
  justify-content: center;
  position: absolute;
  margin-top: 25rem;
  font-size: 2rem;
}

.map {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2rem;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 5rem;
  flex-direction: column;
}
#MapTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.video {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 5rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

@media screen and (max-width: 767px) {
  #banner h1 {
    top: -3rem;

  }
  #navigation ul {
    padding: 0 5px;
    margin: 0 5px;
    gap: 3rem;
  }
  .navLink a {
    font-size: 1.2rem;
  }
  #sol {
    width: 3px;
  }

  #navigation {
    height: 5rem;
  }
  #homepic {
    width: 10%;
  }
  .realMap {
    width: 90%;
  }

  .realVideo {
    width: 90%;
  }

  #MapTitle {
    text-align: center;
  }
  #topAttractionspic {
    width: 10%;
  }
  #attractions-items {
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 2rem;
    border-color: #ffd700;
  }
  #attractionDes{
    font-size:0.2rem; 
  }
  
  #PhotoDescription{
    padding-left:1rem; 
    padding-right:1rem;
    font-size:1rem; 
  }
  #ResDescriptions{
    font-size: 0.2rem;
  }

  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .realMap {
    width: 90%;
  }

  .realVideo {
    width: 90%;
  }

  #MapTitle {
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .PhotoPageItems {
    flex: 1 1 30%;
  }
}
